/* Footer */

footer {
	grid-area: pie;
	background-color: dimgray;
	color: black;
	background-position: center;
	text-align: center;
	background-size: auto;
	padding: 10px 15px;
	margin: 1px;
}