/* generales */
html {
   font-size: 62.5%;
}

*{
	margin:0px;
	padding: 0px;
}

body {
	background-color: darkgray;
	font-family: sans-serif;
	height: 200px;
	flex-direction: column;
	padding: 1em;
}


article {
	flex: 1;
	padding: 1rem;
	margin: 5px;
}

p {
	color: black;
	font-style: italic;
	font-weight: normal;
	font-size: 100%;
	text-align: justify;
	text-transform: none;
	line-height: none;
	text-decoration: none;
	word-spacing: none;
}

h1, h2, h3 {
	color: rgb(70, 150, 200);
	font-style: italic;
	font-weight: normal;
	font-size: 100%;
	text-align: justify;
	text-transform: none;
	line-height: none;
	text-decoration: none;
	word-spacing: none;
}


title {
	color: red;
	font-style: italic;
	font-weight: normal;
}

ul {
	list-style-position: inside;
	text-align: center;
	justify-content: center;
}

li:hover {
	background-color: #fff;
	border-bottom: rgb(47, 54, 237) solid 1px;
}



@media all and (max-width: 1200px) {
	nav ul {
		display: flex;
		flex-direction: column;
	}

	@media all and (min-width: 320px) {
		.formularioDeConsulta {
			display: flex;
			flex-direction: column;
		}
 