
body {
    background-color: darkgray;
    font-family: sans-serif;
	height: 200px;
	flex-direction: column;
	padding: 1em;
}

header {
    background-color: dimgray;
    background-image: linear-gradient(to left, rgba(9,9,121,1) 46%, rgba(0,212,255,1) 100%);
    height: 10vh;
    width: 100%;
    text-align: center;
    font-weight:normal;
    font-size:400%;


}

.especial {
    background-color: black;
    background-image: linear-gradient(to left, rgba(9,9,121,1) 46%, rgba(0,212,255,1) 100%);
    height: 15vh;
    width: 100%;
    text-align: center;
    font-weight:normal;
    font-size:400%;


}

.display-4 {
    height: 15vh;
    width: 100%;
    text-align: center;
    font-weight:normal;
    font-size: 200%;


}

.display-5 {
    height: 15vh;
    width: 100%;
    text-align: center;
    font-weight:normal;
    font-size: 150%;


}

h1, h2, h3 {
  color: rgb(70, 150, 200);
  font-style:italic;
  font-weight:normal;
  font-size:100%;
  text-align:justify;
  text-transform:none;
  line-height:none;
  text-decoration:none;
  word-spacing: none;
}

footer {
    grid-area: pie;
    background-color: dimgray;
    color: black;
    background-position: center;
    text-align:center;
    background-size: auto;
    padding: 10px 15px;
    margin:1px;


}

.formularioDeConsulta {
    grid-area: consulta;
    background-color: whitesmoke;
    color: black;
    background-position: right;

}

.infoDelLugar  {
    background-color: whitesmoke;
    color: black;
    background-position: center;
    background-size 100%;

}


.breadcrumb {
    grid-area: menu;
    background-color: white;
    border-radius: 10px;
    padding: 20px 10px;
    justify-content: center;
    border: 10px;
    position: sticky;
    top: 100px;
    left: 100px;

}

.menuDeNavegacion {
    background-color: whitesmoke;
    color: black;
    display: flex;
    justify-content: center;
}


title {
  color: red;
  font-style:italic;
  font-weight:normal;
}

ul {
    list-style-position:inside;
    text-align: center;
    justify-content: center;
        
}

li:hover {
    background-color: #fff; 
    border-bottom: rgb(47, 54, 237) solid 1px;
}


p{
  color: black;
  font-style:italic;
  font-weight:normal;
  font-size:100%;
  text-align:justify;
  text-transform:none;
  line-height:none;
  text-decoration:none;
  word-spacing: none;
            
}

.subMenu {
    background-color: gray;
    border: 20px;
    display: relative
}

article {
	flex:1;
	padding: 1rem;
	margin:5px;
}


main {
    grid-area: contenido;
	margin-top: 10px;
}

@media all and (max-width: 1200px){
    nav ul{
        display: flex;
        flex-direction: column;
    }
    
@media all and (min-width: 320px) {
    .formularioDeConsulta{
        display: flex;
        flex-direction: column;
    }
 
    
.gridIndex {
        display: grid;
        grid-template-areas: 
        "menu"
        "contenido"
        "contacto"
        "pie"   
        ;
        grid-template-columns: 100%;
        grid-template-rows: 100px 1fr 2fr 2fr auto 50px;
        grid-row-gap: 1px;
    }